# Next.js
.next/
out/
build/
tsconfig.tsbuildinfo

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
